
*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    background-image: url(background.jpg);
    background: #333;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    
overflow-wrap: normal;
}
.around{
    background:#333 ;
    position: absolute;
    
}
section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:whitesmoke;
    text-transform: uppercase;
    font-size: 6rem;
}

.heading span{
    color:#395956;
    text-transform: uppercase;
    font-size: 8rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:rgb(232, 151, 165);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background:#395956;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main-color);
}

.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:rgb(182, 113, 124);
    text-decoration: underline overline black ;
    -moz-transition: 4s;
    -o-transition: 4s;
    transition: 4s;

}
.header .logo img{
    float: right;
    margin: 0%;
    padding: 0%;
}

#menu-bars{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

.home .content{
    text-align: center;
    padding-top: 6rem;
    margin:2rem auto;
    max-width: 70rem;
}

.home .content h3{
    color:rgb(94, 113, 56);
    font-size: 6rem;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
}

.images{
    display: flex;
    height: auto;
    width: auto;
}

.COMPANY .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    gap:2rem;
}

.COMPANY .box-container .box{
    border-radius: .10rem;
    background:rgb(5, 2, 2);
    text-align: center justify;
    padding:2.5rem;
}

.COMPANY .box-container .box i{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: 10%;
    font-size: 2.5rem;
    background:var(--main-color);
    color:#fff;
}
.COMPANY .box-container .box a{
    color:rgb(94, 113, 56);
    text-transform: uppercase;
    
}
.galary{
    display: flex;
    margin: 5px;
}
#pica{
    margin: 10px;
    
}
#picb{
    margin: 7px;
}
#picc{
    padding-top: 10px;
}
.COMPANY .box-container .box h2{
    font-size: 2rem;
    color:#fff;
    padding:1rem 0;
}

.COMPANY .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    line-height: 0.5;
}
.galary{
    padding-left: 4rem;

}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 45rem;
    padding:1rem;
}

.about .row .image img{ 
    width: 100%;
    border-radius: .5rem;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    font-size: 5.5rem;
    color:#087469;
    
}

.about .row .content p{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
    line-height: 2;
}
.contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    background:#333;
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    color:#fff;
    text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
    background:#444;
}

.contact form .inputBox input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.footer{
    background:#395956;
    
}

.footer .box-container{
    display:inline-flexbox;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 6rem;
    padding:1rem 0;
    color:#fff;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: relative;
        top:100%; left:0; right:0;
        border-top: .2px solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        display: flex;
        background:#222;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
        width: 150px;
    }

    .home .content h3{
        font-size: 4px;
    }


}